<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change first Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy first Component
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <!-- following is shown because to ng-content on (child of this) -->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-gamecontrol
        (intervalfired)="onintervalfired($event)"
      ></app-gamecontrol>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-odd *ngFor="let odd of oddNumbers" [number]="odd"></app-odd>
    </div>
    <div class="col-6">
      <app-even *ngFor="let even of evenNumbers" [number]="even"></app-even>
    </div>
  </div>
</div>
