<div class="container">
  <div class="row">
    <!-- <div class="col-md-10">
      <app-child1
        [item]="valuee"
        (takedataevent)="takedata($event)"
      ></app-child1>
    </div>
    <hr />
    <div class="col-md-10">
      <app-forms></app-forms>
    </div>
    <hr />
    <div class="col-md-4">
      <app-todo-list></app-todo-list>
    </div> -->
    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <app-test1></app-test1>
        </li>
        <li class="list-group-item">
          <app-test11></app-test11>
        </li>
        <li class="list-group-item">
          <app-test2></app-test2>
        </li>
      </ul>
    </div>
  </div>
</div>
