<a
  class="list-group-item mb-2 border rounded active"
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{ recipe.name }}</div>
      {{ recipe.description }}
    </div>
    <span class="badge rounded-pill"
      ><img
        src="{{ recipe.imagePath }}"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 50px"
    /></span>
  </li>
</a>
