<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-success btn-lg mb-3">
      Recipe List
    </button>
  </div>
  <hr />
</div>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item list-group-item-danger mb-3"
      *ngFor="let recipe of recipes"
    >
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ recipe.name }}</div>
          {{ recipe.description }}
        </div>
        <span class="badge rounded-pill"
          ><img
            src="{{ recipe.imagePath }}"
            alt="{{ recipe.name }}"
            class="img-responsive"
            style="max-height: 50px"
        /></span>
      </li>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
